<p id="notice"><%= notice %></p>

<p>
  <strong>Course code:</strong>
  <%= @course_offering.course_code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @course_offering.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @course_offering.year %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @course_offering.semester %>
</p>

<%= link_to 'Edit', edit_course_offering_path(@course_offering) %> |
<%= link_to 'Back', course_offerings_path %>
